# Archivos de dependencias
/venv/
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
.env
.env.*

# Archivos de configuraciones del sistema
.DS_Store

# Archivos de logs
*.log

# Archivos de configuraciones de IDEs
.vscode/
.idea/

# Archivos de base de datos locales
*.sqlite
*.db

# Archivos de node (si es que usas algo de frontend en JS)
node_modules/

# Archivos temporales generados por el sistema
*.swp
*.bak

# Archivos de cache (para sistemas basados en Python o frontend JS)
*.cache
